body {
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  position: fixed;
  top: 0;
  background-color: #F6F6F6;
}

#links {
  width: auto;
  margin: 0;
  justify-content: center;
}

#sidebar {
  display: none;
}

#mobile-title {
  display: block;
  padding: 100px 0px 0px 0px;
}

main {
  padding: 10px 0px 0px 0px;
}

p {
  font-size: 18px;
}

a {
  font-size: 16px;
}

h1 {
  font-size: 72px;
  text-align: center;
}

h2 {
  font-size: 48px;
}

.project {
  margin: 5px;
}
