body {
	background-color: #3D205E;
	font-family: 'Montserrat', sans-serif;

	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;

	overflow-y: hidden;
	height: 100vh; 
}

img {
	max-width: 50vh;
	max-height: 50vh;

}

.myname {
	color: #FFD542;
	font-weight: bold;
	font-size: 11vh;

	margin-bottom: 8vh;
	margin-left: 3vw;
}

.bigcurly {
	font-size: 100vh;
	color: rgba(255, 255, 255, 0.63);
	font-family: 'Poppins', sans-serif;

	align-self: center;
}

.profile {
	display: flex;
	flex-direction: column;
	animation: make_appear 4s forwards;

}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	animation: move_in 4s forwards;
}

.navigation {
	border-right: 3px solid rgba(255, 255, 255, 0.63);
	padding-right: 1vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	text-align: right;
	margin-left: auto;
	margin-right: 1vw;
}

.clickme {
	color: #FFD542;
	text-decoration: none;
	font-weight: normal;
	font-size: 5vh;
}

.linkedin {
	max-width: 7vh;
	max-height: 7vh;
	border-bottom: 2px solid #FFD542;

	padding-top: 1vh;
	padding-bottom: 0.3vh;
	margin-left: 0.5vw;
}

.mail {
	max-width: 7vh;
	max-height: 7vh;
	border-bottom: 2px solid #FFD542;
	
	padding-top: 1vh;
	padding-bottom: .3vh;
	margin-right: 0.5vw;
}

.iconic:hover {
	border-bottom: 2px dotted #FFD542;
}

.clickme:hover {
	color: rgba(255, 255, 255, 0.63);
}

@keyframes make_appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes move_in {
	from{
		padding-top: 7vh;
		opacity: 0;
	}
	to {
		padding-top: 1vh;
		opacity: 1;
	}
}

/* * * * * * * * * * * * * * * * */

@media screen and (max-width: 600px) {
	body {
		background-color: red;
		font-family: 'Montserrat', sans-serif;

		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;

		overflow-x: hidden;
	}

	img {
		max-width: 50vh;
		max-height: 50vh;

	}

	.myname {
		color: #FFD542;
		font-weight: bold;
		font-size: 11vh;

		margin-bottom: 8vh;
		margin-left: 3vw;
	}

	.bigcurly {
		font-size: 100vh;
		color: rgba(255, 255, 255, 0.63);
		font-family: 'Poppins', sans-serif;
		transform: rotate(90deg);

		align-self: center;
	}

	.profile {
		display: flex;
		flex-direction: column;
		/*animation: make_appear 4s forwards;*/

	}

	.icons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		/*animation: move_in 4s forwards;*/
	}

	.navigation {
		border-right: 3px solid rgba(255, 255, 255, 0.63);
		padding-right: 1vw;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
		text-align: right;
		margin-left: auto;
		margin-right: 1vw;
	}

	.clickme {
		color: #FFD542;
		text-decoration: none;
		font-weight: normal;
		font-size: 5vh;
	}

	.linkedin {
		max-width: 7vh;
		max-height: 7vh;
		border-bottom: 2px solid #FFD542;

		padding-top: 1vh;
		padding-bottom: 0.3vh;
		margin-left: 0.5vw;
	}

	.mail {
		max-width: 7vh;
		max-height: 7vh;
		border-bottom: 2px solid #FFD542;
		
		padding-top: 1vh;
		padding-bottom: .3vh;
		margin-right: 0.5vw;
	}

	.iconic:hover {
		border-bottom: 2px dotted #FFD542;
	}

	.clickme:hover {
		color: rgba(255, 255, 255, 0.63);
	}

}
