body {
	background-color: #3D205E;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: #FFD542;
	font-weight: bold;
	font-size: 8em;
	margin-top: 10%;
	margin-bottom: 1.5%;
	letter-spacing: 0.05em;
}


.myname {
	float: left;
}

.bigcurly {
	font-size: 100vh;
	color: rgba(255, 255, 255, 0.63);
	font-family: 'Roboto', sans-serif;
	font-weight: thin;
	position: absolute;
	margin-top: -10%;
	margin-left: 20%;
}

img {
	max-width: 50%;
	max-height:50%;
	position: absolute;
	margin-left: 20%;
	margin-top: 11%;
}
