body {
	background-color: #3D205E;
	font-family: 'Montserrat', sans-serif;
	height: 100%; 
	overflow: hidden
}

h1 {
	color: #FFD542;
	font-weight: bold;
	font-size: 8em;
	margin-top: 10%;
	margin-bottom: 1.5%;
	letter-spacing: 0.05em;
}

img {
	max-width: 50%;
	max-height:50%;
	position: absolute;
	margin-left: 20%;
	margin-top: 11%;
	float: left;
}

.myname {
	float: left;
	margin-left: 2%;
}

.bigcurly {
	font-size: 100vh;
	color: rgba(255, 255, 255, 0.63);
	font-family: 'Roboto', sans-serif;
	font-weight: thin;
	position: absolute;
	margin-top: -10%;
	margin-left: 22%;
	float: left;
}

.links {
	position: relative;
	margin-top: 18%;
	text-align: right;
	float: right;
	margin-right: 8%;
	border-right: 2px solid rgba(255, 255, 255, 0.63);
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.clickme {
	color: #FFD542;
	text-decoration: none;
	font-weight: normal;
	font-size: 2em;
	animation: make_appear 3s forwards;
}

.linkedin {
	max-width: 7%;
	max-height: 7%;
	position: absolute;
	border-bottom: 2px solid rgba(255, 255, 255, 0.63);
	padding-bottom: 0.2%;

	animation: movelinkedin 3s forwards;
}

.mail {
	max-width: 7%;
	max-height: 7%;
	position: absolute;
	border-bottom: 2px solid rgba(255, 255, 255, 0.63);
	padding-bottom: 0.2%;

	animation: movemail 3s forwards;
}

.specialhover:hover {
	border-bottom: 2px dotted #FFD542;
}

.clickme:hover {
	color: rgba(255, 255, 255, 0.63);
}

@keyframes movelinkedin {
	from{
		margin-left: 29%;
		margin-top: 60%; 
		opacity: 0;
	}
	to {
		margin-left: 29%;
		margin-top: 39%; 
		opacity: 1;
	}
}

@keyframes movemail {
	from {
		margin-left: 34%;
		margin-top: 60%;
		opacity: 0;
	}
	to {
		margin-left: 34%;
		margin-top: 39%;
		opacity: 1;
	}
}

@keyframes make_appear {
	from { opacity: 0; }
	to { opactiy: 1; }
}


